<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/villains">   
            <img class="logo" src="https://media.dayoftheshirt.com/images/shirts/Dhjzm/teepublic_guild-of-calamitous-intent-logo-teepublic_1557714248.large.png">
        </a>

        <div class="header">
        Welcome to...
            <h1>The Guild of Calamitous Intent</h1>
            "Hate You Can Trust"
        </div>

        <a href="/villains/new">
            <button class="register">Regsiter Today!</button>
        </a>

    </nav>


