<%- include('./partials/header.ejs') %>
    <h1>Villains Index Page</h1>
    <ul>
        <% for(let i = 0; i < villains.length; i++) { %>
            <li>
                <%= villains[i].name %>
                <a href="/villains/<%= villains[i].id %>"><img src="<%= villains[i].img%>"></a>
            </li>
        <% } %>
    </ul>
</body>
</html>