<%- include('./partials/header.ejs') %>
    <ul>
        <% for(let i = 0; i < villains.length; i++) { %>
            <li>
                <div class="name">
                <a href="/villains/<%= villains[i].id %>">
                <%= villains[i].name %>
                </a>
                </div>
                <img class="villain" src="<%= villains[i].img%>">
            </li>
        <% } %>
    </ul>
</body>
</html>