body{
    background-color: rgba(18, 18, 18);
    font-family: 'American Typewriter', serif;
    font-size: 20px;
    margin: 0;
    width: 100%;
    height: 100%;
}

nav{
    background-color:  rgba(18, 18, 18);
    border: 2mm ridge  rgba(255, 204, 102, .8);
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0px;
    align-items: center;
}

div{
    font-size: 20px;
    margin: 0;
}

button{
    color: rgba(255, 204, 102, .8);
}

h1{
    -webkit-text-stroke: 2px rgba(255, 204, 102, .8);
    font-size: 60px;
    padding: 0px;
    margin: 0 auto;
    color:  rgba(140,0,1, .6);
}

h2{
    -webkit-text-stroke: 2px rgba(255, 204, 102, .8);
    font-size: 48px;
    padding: 0px;
    margin: 0 auto;
    color: rgba(140,0,1, .6);
}

img{
    max-width: 300px;
    max-height: 180px;
    border-radius: 5%;
    margin-top: 8px;
}

ul{
    
    list-style-type: none;
    text-align: center;
    columns: 4;
    width: 100%;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
    
}

li{
    display: inline-block;
    vertical-align: top;
    padding: 20px;
}

input{
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    width: 100%;
    color: rgba(255, 204, 102, .8);
}

a{
    color: rgba(255, 204, 102, .8);
    text-decoration: none;
}

a:hover{
    color:gray;
    text-decoration: underline;
}

.header{
    padding: 10px;
    color: rgba(255, 204, 102, .8);
}

.villain{
    border: 2mm solid rgba(140,0,1, .8);
}

.logo{
    max-width: 170px;
}

.register{
    background-color:rgba(140,0,1, .8);
    font-size: 18px;
    padding: 10px;
    position: absolute;
    right: 20px;
    top: 70px;
}

.register:hover{
    background-color: black;
    color:rgba(140,0,1, .8);
}

.name{
    padding: 10px;
    background-color:rgba(140,0,1, .8);
    border-radius: 25%;
    border: 1mm solid rgba(255, 204, 102, .8);;
}

.info{
    position:absolute;
    left: 50%;
    top: 30%;
    margin-left:-74px;
    margin-top: 10px;
    margin-right: 20px;
    display:inline-block;
    background-color: rgb(70,70,70);
    color: rgb(255,204,102);
    border: 1.5mm solid rgba(140,0,1, .8);
    padding: 15px;
}

.show{
    max-width: 600px;
    max-height: 600px;
    border: 1.5mm solid rgba(140,0,1, .8);
    right: 50%;
    top: 30%;
    margin-left: 20px;
    margin-top: 40px;
    display:inline-block;
    color: rgb(255,204,102);
}

.links{
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 10px;
}

.link{
    background-color:rgba(140,0,1, .8);
    display: flex;
    flex-direction: row;
    padding: 6px;
    margin: 4px;
}

.registerNew{
    color: rgba(255, 204, 102, .8);
    background-color:rgba(140,0,1, .8);
    font-size: 18px;
    padding: 10px;
}

.registerNew:hover{
    background-color: black;
    color:rgba(140,0,1, .8);
}

.signUp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin: 10px;
    padding: 30px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 204, 102, .6);
    background-color:rgb(90,90,90);
    margin-left: 500px;
    color:rgba(140,0,1, .8);
}

.edit{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin: 10px;
    padding: 30px;
    box-sizing: border-box;
    border: 1px solid rgba(140,0,1, .8);
    background-color:rgb(90,90,90);
    margin-left: 500px;
    color:rgba(255, 204, 102, .6); 
}

.main{
background: url("https://cdn.suwalls.com/wallpapers/cartoons/the-guild-of-calamitous-intent-42760-2560x1600.jpg") no-repeat center center fixed; 
-webkit-background-size: cover;
background-size: cover;
}

.enter{
    background-color: rgba(140,0,1, .8);
    color: rgba(218, 128, 0);
    -webkit-text-stroke: 2.5px black;
    font-size: 50px;
    position: absolute;
    right: 45%;
    top: 30px;
    font-family: 'American Typewriter', serif;
}

.enter:hover{
    background-color: rgba(15, 16, 20);
    color:rgba(140,0,1, .8)
}

.p{
    color: rgba(255, 204, 102, .8);
}

#name, #age, #abilities, #bio, #nemesis, #img {
    color: black
}

@viewport {
    width: device-width ;
    zoom: 1.0 ;
  }

  @media screen and (max-width:1300px){
    ul{
        list-style-type: none;
        text-align: center;
        column-count: 3;
        width: 100%;
        height: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    li{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        vertical-align: top;
        padding: 20px;
    }
  }

  @media screen and (max-width:870px){
    ul{
        list-style-type: none;
        text-align: center;
        column-count: 2;
        width: 100%;
        height: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    li{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        vertical-align: top;
        padding: 20px;
    }
    nav{
        display: flex;
        flex-direction: row;
        position: sticky;
        top: 0px;
        align-items: center;
    }
    h1{
        font-size: 36px;
    }
    .register{
        top: 5%;
    }
  }

  @media screen and (max-width:600px) {
    li{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        vertical-align: top;
        padding: 20px;
    }

    ul{
    
        list-style-type: none;
        text-align: center;
        align-items: center;
        column-count: 1;
        width: 100%;
        height: 100%;
        padding-left: 0;
        padding-right: 0;
        
    }

    .register{
        background-color:rgba(140,0,1, .8);
        font-size: 18px;
        padding: 8px;
        position: absolute;
        right: 20px;
        top: 136px;
    }

    .signUp {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60%;
        margin: 10px;
        margin-left: 140px;
        padding: 30px;
        box-sizing: border-box;
        border: 1px solid rgba(255, 204, 102, .6);
        background-color:rgb(90,90,90);
        color:rgba(140,0,1, .8);
    }

    .show{
        max-width: 300px;
        max-height: 300px;
    }

    .info{
        position: relative;
        left: 0;
        margin-left: 20px;
    }
    
    .showPage{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h1 {
        font-size: 36px;
    }

  }